<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
   <div class="position-sticky pt-3 sidebar-sticky">
      <ul class="nav flex-column">
         <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="bill" routerLinkActive="active">
               Bill
            </a>
         </li>
         <li class="nav-item">
            <a class="nav-link" routerLink="history" routerLinkActive="active">
               History
            </a>
         </li>
         <li class="nav-item">
            <a class="nav-link" routerLink="planning" routerLinkActive="active">
               Planning
            </a>
         </li>
         <li class="nav-item">
            <a class="nav-link" routerLink="records" routerLinkActive="active">
               Records
            </a>
         </li>
      </ul>
   </div>
</nav>