<div class="card bg-white p-3">
   <div class="card-header bordered">
      <div class="header-block">
         <h3 class="title">Add event</h3>
      </div>
   </div>
   <div class="card-block">
      <div *ngIf="message.text" class="alert alert-{{message.type}}">{{message.text}}</div>
      <form [formGroup]="form"  (ngSubmit)="onSubmit()">
         <div class="form-group mb-3">
            <label for="selectCategory" class="form-label">Choose a category</label>
            <select class="form-select" id="selectCategory" formControlName="selectCategory">
               <option *ngFor="let c of categories" value="{{c.id}}">{{c.name}}</option>
            </select>
         </div>
         <div class="form-group">
            <p>Choose a type</p>
            <div class="form-check" *ngFor="let t of types">
               <input class="form-check-input" type="radio" value="{{t.type}}" formControlName="type" id="{{t.id}}">
               <label class="form-check-label" for="{{t.id}}">
                  {{t.label}}
               </label>
            </div>
         </div>
         <div class="form-group has-success pb-2">
            <label for="categoryValue" class="control-label">Enter an amount</label>
            <input type="number" min="1" class="form-control" id="categoryValue" formControlName="categoryValue" [ngClass]="{'is-invalid': form.get('categoryValue')?.invalid && form.get('categoryValue')?.touched}">
            <div class="invalid-feedback">The value should be more than 0!</div>
         </div>
         <div class="form-group has-success pb-2">
            <label for="definition" class="control-label">Definition</label>
            <input type="text" class="form-control" id="definition" formControlName="definition" [ngClass]="{'is-invalid': form.get('definition')?.invalid && form.get('definition')?.touched}">
            <div class="invalid-feedback">This field have to be filled and more than 2 symbols length!</div>
         </div>
         <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Add</button>
      </form>
   </div>
</div>