<div class="bg-white p-3">
   <p>Exchange rate</p>
   <table class="table table-hover border-primary py-0">
      <thead>
        <tr>
          <th scope="col">Cur</th>
          <th scope="col">Rate</th>
          <th scope="col">Date</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>1</td>
          <td>22</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>2</td>
          <td>22</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>3</td>
          <td>22</td>
        </tr>
      </tbody>
    </table>
</div>
